.field {
  border: 1px dashed #e0e0e0;
  box-sizing: content-box;
  padding: 10px;

  &::after {
    display: block;
    content: '';
    clear: both;
  }

  &__column {
    float: left;
    width: 4px;
  }

  &__pixel {
    width: 4px;
    height: 4px;

    &--status-open {
      background-color: #f00;
    }

    &--status-closed {
      background-color: #9f9;
    }
  }
}

.col {
  padding: 10px;
  float: left;
}
