<div class="col">
  <h1>{{project.name}}</h1>

  <div class="field" [style.width]="project.field.width * 4 + 'px'" [style.height]="project.field.height * 4 + 'px'">
    <div *ngFor="let line of project.field.points" class="field__column">
      <div *ngFor="let point of line"
           class="field__pixel"
           [title]="point.language?.name || 'Not implemented'"
           [style.background-color]="point.language?.color">
      </div>
    </div>
  </div>
</div>

<div class="col">
  <h1>Progress ({{percentComplete | number:'1.0-0'}}%)</h1>

  <div class="field" [style.width]="project.developmentField.width * 4 + 'px'" [style.height]="project.developmentField.height * 4 + 'px'">
    <div *ngFor="let line of project.developmentField.points" class="field__column">
      <div *ngFor="let point of line"
           class="field__pixel"
           [title]="point.language?.name || 'Not implemented'"
           [style.background-color]="point.language?.color">
      </div>
    </div>
  </div>
</div>

<div class="col">
  <h1>Backlog map</h1>

  <div class="field" [style.width]="project.backlog.field.width * 4 + 'px'" [style.height]="project.backlog.field.height * 4 + 'px'">
    <div *ngFor="let line of project.backlog.field.points" class="field__column">
      <div *ngFor="let point of line"
           class="field__pixel field__pixel--status-{{ point.status }}"
           [title]="point.status || 'Not covered'">
      </div>
    </div>
  </div>

  <h4>Bug reports: {{project.backlog.length}}</h4>
</div>

<div class="col">
  <h2>Calendar</h2>

  <app-calendar></app-calendar>
</div>
