$cell-width: 12px;
$cell-height: 8px;

.calendar {
  width: $cell-width * 21 + 20px;

  &__year {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }

  &__month {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;

    &:nth-of-type(3n + 1) {
      margin-right: 0;
    }

    &--active &-name {
      font-weight: bold;
    }

    &-name {
      line-height: 28px;
    }
  }

  &__days {
    width: $cell-width * 7;

    &:after {
      clear: both;
      content: '';
      display: block;
    }
  }

  &__day {
    width: $cell-width;
    height: $cell-height;
    background: #d7ffe3;
    float: left;

    &--6,
    &--0 {
      background: #ffdde4;
    }

    @for $i from 2 through 6 {
      &--#{$i}:first-of-type {
        margin-left: $cell-width * ($i - 1);
      }
    }

    &--0:first-of-type {
      margin-left: $cell-width * 6;
    }

    &--passed {
      background: #f8f8f8;
    }
  }
}
